[Unit]
Description=Gunicorn instance to serve mi_aplicacion
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=mi_proyecto
ExecStart= mi_proyecto/venv/bin/gunicorn --workers 3 --bind unix:mi_aplicacion.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target