{% extends "auth/base_sis.html" %}

{% block title %}prueba{% endblock %}

{% block sections %}

<div class="container card">
    <div class="row text-center">
        <div class="col ">
            <h3>BOLETA DE NOTAS</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h5>IESTP SUIZA - PROGRAMA DE ESTUDIOS - DESARROLLO DE SITEMAS DE INFORMACION</h5><br>
            <h6>Alumno:</h6><br>

        </div>
    </div>

    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>

</div>

{% endblock %}