{%extends 'auth/base.html'%}

{%block title%}inicio{%endblock%}

{%block sections%}


<!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->
 <!-- Hero Section -->
<section id="hero" class="hero section">
  <div
    id="hero-carousel"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
    data-bs-interval="5000"
  >
    <div class="carousel-item active">
      <img src="/static/img/hero-carousel/FOTO DE ALUMNOS.png" alt="" />
      <div class="container">
        <h2>
          Area Academica: <br />
          DESARROLLO DE SISTEMAS DE INFORMACION - IESTP-SUIZA
        </h2>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
        <a href="#about" class="btn-get-started">Informes</a>
      </div>
    </div>
    <!-- End Carousel Item -->

    <div class="carousel-item">
      <img src="/static/img/hero-carousel/09.jpg" alt="" />
      <div class="container">
        <h2>
          Area Academica: <br />
          DESARROLLO DE SISTEMAS DE INFORMACION - IESTP-SUIZA
        </h2>
        <!-- <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p> -->
        <a href="#about" class="btn-get-started">Informes</a>
      </div>
    </div>
    <!-- End Carousel Item -->

    <div class="carousel-item">
      <img src="/static/img/hero-carousel/02.jpg" alt="" />
      <div class="container">
        <h2>
          Area Academica: <br />
          DESARROLLO DE SISTEMAS DE INFORMACION - IESTP-SUIZA
        </h2>
        <!-- <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p> -->
        <a href="#about" class="btn-get-started">Informes</a>
      </div>
    </div>
    <!-- End Carousel Item -->

    <a
      class="carousel-control-prev"
      href="#hero-carousel"
      role="button"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon bi bi-chevron-left"
        aria-hidden="true"
      ></span>
    </a>

    <a
      class="carousel-control-next"
      href="#hero-carousel"
      role="button"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon bi bi-chevron-right"
        aria-hidden="true"
      ></span>
    </a>

    <ol class="carousel-indicators"></ol>
  </div>
</section>
<!-- /Hero Section -->
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section">
  <div class="container">
    <div class="row gy-4">
      <div
        class="col-xl-3 col-md-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-backpack3-fill"></i></div>
          <h4><a href="" class="stretched-link">Talleres</a></h4>
          <p>Participa en nuestros talleres y desarrolla tu potencial</p>
        </div>
      </div>
      <!-- End Service Item -->

      <div
        class="col-xl-3 col-md-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-award-fill"></i></div>
          <h4><a href="" class="stretched-link">Capacitate</a></h4>
          <p>
            Cursos diversos en TICs y ofimatica, asi como herramientas
            tecnologicas
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <div
        class="col-xl-3 col-md-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-backpack4-fill"></i></div>
          <h4><a href="" class="stretched-link">Proyectos</a></h4>
          <p>Nuestro compromiso con el desarrollo de nuestra region</p>
        </div>
      </div>
      <!-- End Service Item -->

      <div
        class="col-xl-3 col-md-6 d-flex"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-briefcase-fill"></i></div>
          <h4><a href="" class="stretched-link">Bolsa de trabajo</a></h4>
          <p>
            Un soporte para nuestros egresados. Te ayudamos a encontrar tu
            puesto de trabajo
          </p>
        </div>
      </div>
      <!-- End Service Item -->
    </div>
  </div>
</section>
<!-- /Featured Services Section -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

<!-- Call To Action Section -->
<section id="call-to-action" class="call-to-action section accent-background">
  <div class="container">
    <div
      class="row justify-content-center"
      data-aos="zoom-in"
      data-aos-delay="100"
    >
      <div class="col-xl-10">
        <div class="text-center">
          <h3>Tienes dudas sobre el desarrollo de tu proyecto</h3>
          <p>
            Somos tu mejor opcion para el desarrollo y asesoria de proyectos en
            desarrollo de software
          </p>
          <a class="cta-btn" href="#appointment">Contactanos</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Call To Action Section -->
<!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- About Section -->
<section id="about" class="about section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Nosotros<br /></h2>
    <p>
      Conoce el area academica y explora la experiencia de estudiar con nosotros
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 position-relative align-self-start"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img src="/static/img/01.jpg" class="img-fluid" alt="" />
        <a href="/static/vid_1.mp4" class="glightbox pulsating-play-btn"></a>
      </div>
      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
        <h3 class="text-center">
          Primer instituto de exelencia de la region <br />
          IESTP-SUIZA
        </h3>
        <p style="text-align: justify" class="fst-italic">
          En el Instituto Suiza, nos enorgullece ofrecer una formación académica
          de vanguardia, comprometida con la excelencia y la innovación en el
          campo de las tecnologías de la información. Nuestro programa de
          desarrollo de sistemas de información está diseñado para formar
          profesionales altamente capacitados, capaces de enfrentar los retos
          del mundo digital y aportar soluciones creativas y eficientes.
          Contamos con un equipo docente especializado y recursos tecnológicos
          de última generación, lo que nos permite brindar una educación
          integral que combina teoría y práctica. En el Instituto Suiza, creemos
          que cada estudiante es una pieza clave para el futuro tecnológico, y
          trabajamos para que todos nuestros egresados sean líderes en la
          transformación digital de la sociedad.
        </p>
        <ul>
          <li>
            <i class="bi bi-check2-all"></i>
            <span
              >Ofrecemos una educación sólida y actualizada con un enfoque
              práctico y teórico, asegurando que nuestros estudiantes sean
              profesionales competitivos y capacitados para enfrentar los
              desafíos del mundo digital.</span
            >
          </li>
          <li>
            <i class="bi bi-check2-all"></i>
            <span
              >Fomentamos valores como la ética, responsabilidad y compromiso,
              formando profesionales íntegros que contribuyan positivamente a la
              sociedad y al entorno empresarial..</span
            >
          </li>
          <li>
            <i class="bi bi-check2-all"></i>
            <span
              >Proporcionamos un ambiente cercano y de apoyo, donde cada
              estudiante recibe atención personalizada para su desarrollo
              académico y personal..</span
            >
          </li>
          <li>
            <i class="bi bi-check2-all"></i>
            <span
              >Formamos líderes capaces de generar soluciones innovadoras y
              participar activamente en la transformación digital, mejorando la
              sociedad con sus contribuciones tecnológicas.</span
            >
          </li>
        </ul>
        <p></p>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->
<!-- ------------------------------------------------------------------------------------------------------------ -->
<!-- Stats Section -->
<section id="stats" class="stats section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-person-rolodex"></i>
          <div>
            <span
              data-purecounter-start="0"
              data-purecounter-end="5"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Docentes</p>
          </div>
        </div>
      </div>
      <!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-pass-fill"></i>
          <div>
            <span
              data-purecounter-start="0"
              data-purecounter-end="03"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Modulos pedagogicos</p>
          </div>
        </div>
      </div>
      <!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-person-raised-hand"></i>
          <div>
            <span
              data-purecounter-start="0"
              data-purecounter-end="100"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Alumnos</p>
          </div>
        </div>
      </div>
      <!-- End Stats Item -->

      <div class="col-lg-3 col-md-6">
        <div class="stats-item d-flex align-items-center w-100 h-100">
          <i class="bi bi-archive-fill"></i>
          <div>
            <span
              data-purecounter-start="0"
              data-purecounter-end="50"
              data-purecounter-duration="1"
              class="purecounter"
            ></span>
            <p>Proyectos</p>
          </div>
        </div>
      </div>
      <!-- End Stats Item -->
    </div>
  </div>
</section>
<!-- /Stats Section -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- Features Section -->
<section id="features" class="features section">
  <div class="container">
    <div class="row justify-content-around gy-4">
      <div
        class="features-image col-lg-6"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img src="/static/img/(1).jpeg" alt="" />
      </div>

      <div
        class="col-lg-5 d-flex flex-column justify-content-center"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h3>
          Nuestros egresados trabajan y se desempeñan en el sector productivo
        </h3>
        <p style="text-align: justify">
          Formamos profesionales altamente capacitados en la creación,
          implementación y mantenimiento de soluciones tecnológicas orientadas a
          la gestión y procesamiento de información. A lo largo de su formación,
          ha adquirido habilidades en el diseño y desarrollo de aplicaciones
          informáticas, manejo de bases de datos, programación en diversos
          lenguajes (como Java, Python, PHP, entre otros) y el uso de
          herramientas de desarrollo modernas.
        </p>

        <div
          class="icon-box d-flex position-relative"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <i class="bi bi-keyboard-fill"></i>
          <div>
            <h4><a href="" class="stretched-link">Soporte Tecnico</a></h4>
            <p style="text-align: justify">
              Está capacitado para ofrecer asistencia en la resolución de
              problemas tecnológicos tanto a nivel de hardware como de software.
              Tiene habilidades para diagnosticar y reparar fallos en equipos
              informáticos, gestionar redes y sistemas operativos, y brindar
              soporte en la instalación y configuración de aplicaciones.
            </p>
          </div>
        </div>
        <!-- End Icon Box -->

        <div
          class="icon-box d-flex position-relative"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <i class="bi bi-router-fill"></i>
          <div>
            <h4>
              <a href="" class="stretched-link">Administradores de red</a>
            </h4>
            <p tyle="text-align:justify">
              Especializados en administración de redes está capacitado para
              gestionar, configurar y mantener infraestructuras de redes
              informáticas. Posee conocimientos sólidos en la administración de
              servidores, dispositivos de red, seguridad de redes y soluciones
              de conectividad
            </p>
          </div>
        </div>
        <!-- End Icon Box -->

        <div
          class="icon-box d-flex position-relative"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <i class="bi bi-vector-pen"></i>
          <div>
            <h4><a href="" class="stretched-link">Diseñadores graficos</a></h4>
            <p tyle="text-align:justify">
              Transformamos creatividad en impacto visual. Formamos diseñadores
              gráficos capaces de comunicar ideas poderosas a través de la
              imagen. Domina el color, la tipografía y el diseño digital para
              contar historias que se quedan grabadas.
            </p>
          </div>
        </div>
        <!-- End Icon Box -->

        <div
          class="icon-box d-flex position-relative"
          data-aos="fade-up"
          data-aos-delay="600"
        >
          <i class="bi bi-camera-reels-fill"></i>
          <div>
            <h4>
              <a href="" class="stretched-link">Produccion Audiovisual</a>
            </h4>
            <p tyle="text-align:justify">
              De la idea al impacto: crea contenido que emociona. Capacitamos
              profesionales en la creación de piezas audiovisuales con técnica,
              narrativa y estética. Desde la cámara hasta la postproducción,
              llevamos tu visión a la pantalla.
            </p>
          </div>
        </div>
        <!-- End Icon Box -->
      </div>
    </div>
  </div>
</section>
<!-- /Features Section -->

<!-- Services Section -->
<section id="services" class="services section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Servicios</h2>
    <p>
      Accede a nuestra gama de servicios, confiando en la calidad de siempre
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-boxes"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Diseño Publicitario</h3>
          </a>
          <p>
            Impacta a primera vista. Creamos piezas gráficas que comunican tu
            mensaje con fuerza, estilo y estrategia. Desde redes sociales hasta
            impresos, tu marca se verá inolvidable.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-browser-chrome"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Desarrollo web</h3>
          </a>
          <p>
            Tu presencia online, con estilo y funcionalidad. Diseñamos sitios
            web modernos, rápidos y adaptados a tus objetivos. Profesionaliza tu
            imagen y conecta con tus clientes las 24 horas.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-code-slash"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Desarrollo de software</h3>
          </a>
          <p>
            Soluciones a tu medida. Automatizamos procesos, optimizamos tu
            negocio y creamos sistemas personalizados que hacen más fácil tu día
            a día. Tecnología que trabaja por ti.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-tools"></i><i class="bi bi-pc-display"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Reparacion y mantenimiento de equipos de computo</h3>
          </a>
          <p>
            Tu equipo, como nuevo. Diagnóstico, reparación y mantenimiento para
            que tus dispositivos funcionen siempre al 100%. Rápido, confiable y
            sin complicaciones.
          </p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-camera-reels-fill"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Produccion audiovisual</h3>
          </a>
          <p>
            Contamos tu historia con imagen y sonido. Videos promocionales,
            institucionales, para redes o eventos. Profesionales en cada toma,
            con impacto visual y narrativo.
          </p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-award-fill"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Capacitaciones</h3>
          </a>
          <p>
            Aprende, mejora, crece. Cursos prácticos y personalizados en
            tecnología, diseño, marketing y más. Potenciamos tus habilidades
            para un mundo digital en constante cambio.
          </p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div>
      <!-- End Service Item -->
    </div>
  </div>
</section>
<!-- /Services Section -->
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- Consultas Section -->
<section id="appointment" class="appointment section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Formulario de Consulta</h2>
    <p>Si tienes alguna duda o consulta haznoslo saber</p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <form
      action="forms/appointment.php"
      method="post"
      role="form"
      class="php-email-form"
    >
      <div class="row">
        <div class="col-md-4 form-group">
          <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            placeholder="Nombres"
            required=""
          />
        </div>
        <div class="col-md-4 form-group mt-3 mt-md-0">
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Email"
            required=""
          />
        </div>
        <div class="col-md-4 form-group mt-3 mt-md-0">
          <input
            type="tel"
            class="form-control"
            name="phone"
            id="phone"
            placeholder="Telefono"
            required=""
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group mt-3">
          <input
            type="datetime-local"
            name="date"
            class="form-control datepicker"
            id="date"
            placeholder="Fecha"
            required=""
          />
        </div>
        <div class="col-md-4 form-group mt-3">
          <select
            name="department"
            id="department"
            class="form-select"
            required=""
          >
            <option value="">Elige Tematica</option>
            <option value="Department 1">Department 1</option>
            <option value="Department 2">Department 2</option>
            <option value="Department 3">Department 3</option>
          </select>
        </div>
        <!-- <div class="col-md-4 form-group mt-3">
          <select name="doctor" id="doctor" class="form-select" required="">
            <option value="">Select Doctor</option>
            <option value="Doctor 1">Doctor 1</option>
            <option value="Doctor 2">Doctor 2</option>
            <option value="Doctor 3">Doctor 3</option>
          </select>
        </div>
      </div> -->

      <div class="form-group mt-3">
        <textarea
          class="form-control"
          name="message"
          rows="5"
          placeholder="Message (Optional)"
        ></textarea>
      </div>
      <div class="mt-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">
          Tu consulta fue enviada correctamente, muchas gracias!
        </div>
        <div class="text-center"><button type="submit">Consultar</button></div>
      </div>
    </form>
  </div>
</section>
<!-- /Appointment Section -->
<!-- ------------------------------------------------------------------------------------------------------------ -->
<!-- Tabs Section -->
<section id="tabs" class="tabs section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Jefatura de Area y Secretaria</h2>
    <p>
      Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
      consectetur velit
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a
              class="nav-link active show"
              data-bs-toggle="tab"
              href="#tabs-tab-1"
              >Grados y titulos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-2"
              >Malla Curricular</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-3"
              >Boleta de notas</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-4"
              >Tramite de carnet</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-5"
              >Generacion de clave</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="tab-content">
          <div class="tab-pane active show" id="tabs-tab-1">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Grados y titulos</h3>
                <p class="fst-italic">
                  Qui laudantium consequatur laborum sit qui ad sapiente dila
                  parde sonata raqer a videna mareta paulona marka
                </p>
                <p>
                  Et nobis maiores eius. Voluptatibus ut enim blanditiis atque
                  harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut
                  molestiae aut qui. Est repellat minima eveniet eius et quis
                  magni nihil. Consequatur dolorem quaerat quos qui similique
                  accusamus nostrum rem vero
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/grad_tit.png" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tabs-tab-2">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Malla Curricular</h3>
                <p class="fst-italic">
                  Qui laudantium consequatur laborum sit qui ad sapiente dila
                  parde sonata raqer a videna mareta paulona marka
                </p>
                <p>
                  Ea ipsum voluptatem consequatur quis est. Illum error ullam
                  omnis quia et reiciendis sunt sunt est. Non aliquid
                  repellendus itaque accusamus eius et velit ipsa voluptates.
                  Optio nesciunt eaque beatae accusamus lerode pakto madirna
                  desera vafle de nideran pal
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/malla_cur.jpg" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tabs-tab-3">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Boleta de Notas</h3>
                <p class="fst-italic">
                  Eos voluptatibus quo. Odio similique illum id quidem non enim
                  fuga. Qui natus non sunt dicta dolor et. In asperiores velit
                  quaerat perferendis aut
                </p>
                <p>
                  Iure officiis odit rerum. Harum sequi eum illum corrupti culpa
                  veritatis quisquam. Neque necessitatibus illo rerum eum ut.
                  Commodi ipsam minima molestiae sed laboriosam a iste odio.
                  Earum odit nesciunt fugiat sit ullam. Soluta et harum
                  voluptatem optio quae
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img
                  src="/static/img/boleta_not.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tabs-tab-4">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Tramite de carnet</h3>
                <p class="fst-italic">
                  Totam aperiam accusamus. Repellat consequuntur iure voluptas
                  iure porro quis delectus
                </p>
                <p>
                  Eaque consequuntur consequuntur libero expedita in voluptas.
                  Nostrum ipsam necessitatibus aliquam fugiat debitis quis
                  velit. Eum ex maxime error in consequatur corporis atque.
                  Eligendi asperiores sed qui veritatis aperiam quia a laborum
                  inventore
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/carnet.webp" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tabs-tab-5">
            <div class="row">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Generacion de claves y otros</h3>
                <p class="fst-italic">
                  Omnis blanditiis saepe eos autem qui sunt debitis porro quia.
                </p>
                <p>
                  Exercitationem nostrum omnis. Ut reiciendis repudiandae minus.
                  Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit
                  vero atque qui quibusdam amet. Occaecati sed est sint aut
                  vitae molestiae voluptate vel
                </p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/claves.jpg" alt="" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Tabs Section -->
<!-- ------------------------------------------------------------------------------------------------------------ -->
<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Testimonios</h2>
    <p>
      Nuestros alumnos y clientes satisfechos nos cuentan su experiencia con
      nuestros servicios
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div
      class="swiper init-swiper"
      data-speed="600"
      data-delay="5000"
      data-breakpoints='{ "320": { "slidesPerView": 1, "spaceBetween": 40 }, "1200": { "slidesPerView": 3, "spaceBetween": 40 } }'
    >
      <script type="application/json" class="swiper-config">
        {
          "loop": true,
          "speed": 600,
          "autoplay": {
            "delay": 5000
          },
          "slidesPerView": "auto",
          "pagination": {
            "el": ".swiper-pagination",
            "type": "bullets",
            "clickable": true
          },
          "breakpoints": {
            "320": {
              "slidesPerView": 1,
              "spaceBetween": 40
            },
            "1200": {
              "slidesPerView": 3,
              "spaceBetween": 20
            }
          }
        }
      </script>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >Proin iaculis purus consequat sem cure digni ssim donec
                porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                eget id, aliquam eget nibh et. Maecen aliquam, risus at
                semper.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
            <img
              src="/static/img/testimonials/42.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Armando Soria</h3>
            <h4>Ceo &amp; Multiservicios DAMP</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >Export tempor illum tamen malis malis eram quae irure esse
                labore quem cillum quid malis quorum velit fore eram velit sunt
                aliqua noster fugiat irure amet legam anim culpa.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
            <img
              src="/static/img/testimonials/04.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Juan Carlos</h3>
            <h4>Contador</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >Enim nisi quem export duis labore cillum quae magna enim sint
                quorum nulla quem veniam duis minim tempor labore quem eram duis
                noster aute amet eram fore quis sint minim.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
            <img
              src="/static/img/testimonials/09.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Gil Torres</h3>
            <h4>Educador</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                multos export minim fugiat dolor enim duis veniam ipsum anim
                magna sunt elit fore quem dolore labore illum veniam.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
            <img
              src="/static/img/testimonials/24.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Daniel Piña</h3>
            <h4>Productor</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bi bi-quote quote-icon-left"></i>
              <span
                >Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                veniam tempor noster veniam sunt culpa nulla illum cillum fugiat
                legam esse veniam culpa fore nisi cillum quid.</span
              >
              <i class="bi bi-quote quote-icon-right"></i>
            </p>
            <img
              src="/static/img/testimonials/31.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Ruber Torres</h3>
            <h4>Ingeniero</h4>
          </div>
        </div>
        <!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- /Testimonials Section -->

<!-- ------------------------------------------------------------------------------------------------------------ -->

<!-- Doctors Section -->
<section id="doctors" class="doctors section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Equipo de trabajo - Plana Docente</h2>
    <p>
      Docentes comprometidos con la enseñanza innovadora, capaces de liderar aulas con vocación, empatía y herramientas pedagógicas actualizadas. Educar no es solo enseñar, es dejar huella.
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="team-member">
          <div class="member-img">
            <img
              src="/static/img/doctors/gil.JPG"
              class="img-fluid fot_doc"
              alt=""
            />
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Gil Torres Arevalo</h4>
            <span
              >Dr. Lic. Educacion <br />
              Jefe Programa de Estudios DSI</span
            >
          </div>
        </div>
      </div>
      <!-- End Team Member -->

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="team-member">
          <div class="member-img">
            <img
              src="/static/img/doctors/john.JPG"
              class="img-fluid fot_doc"
              alt=""
            />
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>John Saboya Fulca</h4>
            <span
              >Pofesional Tecnico Computacion e informatica <br />
              Docente</span
            >
          </div>
        </div>
      </div>
      <!-- End Team Member -->

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="team-member">
          <div class="member-img">
            <img
              src="/static/img/doctors/ruber.JPG"
              class="img-fluid fot_doc"
              alt=""
            />
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Ruber Torres Arevalo</h4>
            <span
              >Mtro. Ing. Sistemas <br />
              Docente</span
            >
          </div>
        </div>
      </div>
      <!-- End Team Member -->

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="team-member">
          <div class="member-img">
            <img
              src="/static/img/doctors/puyo.JPG"
              class="img-fluid fot_doc"
              alt=""
            />
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Crhistian Puyo</h4>
            <span
              >Ing. Sistemas<br />
              Docente</span
            >
          </div>
        </div>
      </div>
      <!-- End Team Member -->

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="team-member">
          <div class="member-img">
            <img
              src="/static/img/doctors/renato.JPG"
              class="img-fluid fot_doc"
              alt=""
            />
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Renato Tarazona</h4>
            <span>Ing. Sistemas <br />Docente</span>
          </div>
        </div>
      </div>
      <!-- End Team Member -->

      <div
        class="col-lg-3 col-md-6 d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="team-member">
          <div class="member-img">
            <img
              src="/static/img/doctors/lisy.JPG"
              class="img-fluid fot_doc"
              alt=""
            />
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Lisnairi Tuanama Sevariano</h4>
            <span
              >Secretaria Ejecutiva <br />Secretaria Programa de Estudios
              DSI</span
            >
          </div>
        </div>
      </div>
      <!-- End Team Member -->
    </div>
  </div>
</section>
<!-- /Doctors Section -->
<!-- ------------------------------------------------------------------------------------------------------------ -->
<!-- Gallery Section -->
<section id="gallery" class="gallery section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Galeria</h2>
    <p>
      Nuestas actividades pedagogicas de esparcimiento y Responsabilidad social
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="swiper init-swiper">
      <script type="application/json" class="swiper-config">
        {
          "loop": true,
          "speed": 600,
          "autoplay": {
            "delay": 5000
          },
          "slidesPerView": "auto",
          "centeredSlides": true,
          "pagination": {
            "el": ".swiper-pagination",
            "type": "bullets",
            "clickable": true
          },
          "breakpoints": {
            "320": {
              "slidesPerView": 1,
              "spaceBetween": 0
            },
            "768": {
              "slidesPerView": 3,
              "spaceBetween": 20
            },
            "1200": {
              "slidesPerView": 5,
              "spaceBetween": 20
            }
          }
        }
      </script>
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide">
          <a
            class="glightbox"
            data-gallery="images-gallery"
            href="/static/img/gallery/04.jpg"
            ><img src="/static/img/gallery/04.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="swiper-slide">
          <a
            class="glightbox"
            data-gallery="images-gallery"
            href="/static/img/gallery/05.jpg"
            ><img src="/static/img/gallery/05.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="swiper-slide">
          <a
            class="glightbox"
            data-gallery="images-gallery"
            href="/static/img/gallery/12.jpg"
            ><img src="/static/img/gallery/12.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="swiper-slide">
          <a
            class="glightbox"
            data-gallery="images-gallery"
            href="/static/img/gallery/31.jpg"
            ><img src="/static/img/gallery/31.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="swiper-slide">
          <a
            class="glightbox"
            data-gallery="images-gallery"
            href="/static/img/gallery/35.jpg"
            ><img src="/static/img/gallery/35.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="swiper-slide">
          <a
            class="glightbox"
            data-gallery="images-gallery"
            href="/static/img/gallery/37.jpg"
            ><img src="/static/img/gallery/37.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="swiper-slide">
          <a
            class="glightbox"
            data-gallery="images-gallery"
            href="/static/img/gallery/38.jpg"
            ><img src="/static/img/gallery/38.jpg" class="img-fluid" alt=""
          /></a>
        </div>
        <div class="swiper-slide">
          <a
            class="glightbox"
            data-gallery="images-gallery"
            href="/static/img/gallery/74.jpg"
            ><img src="/static/img/gallery/74.jpg" class="img-fluid" alt=""
          /></a>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- /Gallery Section -->
<!-- ------------------------------------------------------------------------------------------------------------ -->
<!-- Pricing Section -->
<!-- <section id="pricing" class="pricing section"> -->

<!-- Section Title -->

<!-- </div>End Pricing Item -->
<!-- 
          <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="pricing-item">
              <span class="advanced">Advanced</span>
              <h3>Ultimate</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div> -->
<!-- </div>End Pricing Item -->

<!-- </div> -->

<!-- </div> -->

<!-- </section>/Pricing Section -->

<!-- Contact Section -->
<section id="contact" class="contact section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contacto</h2>
    <p>
      Ubicanos en Pucallpa, Carretera Federico Basadre Km 5 
    </p>
  </div>
  <!-- End Section Title -->

  <div class="ms-3 mb-5 text-center" data-aos="fade-up" data-aos-delay="200">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3947.1073142873297!2d-74.57857122494136!3d-8.3911050916469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1733024363498!5m2!1ses!2spe"
      width="90%"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <!-- <iframe style="border:0; width: 100%; height: 370px;" src="https://maps.app.goo.gl/348SB796DcfuezTCA" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
  </div>
  <!-- End Google Maps -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="row gy-4">
          <div class="col-lg-12">
            <div
              class="info-item d-flex flex-column justify-content-center align-items-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <i class="bi bi-geo-alt"></i>
              <h3>Ubicacion</h3>
              <p>Carretera Federico Basadre km 5.6</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="col-md-6">
            <div
              class="info-item d-flex flex-column justify-content-center align-items-center"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <i class="bi bi-telephone"></i>
              <h3>Telefonos</h3>
              <p>+1 5589 55488 55</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="col-md-6">
            <div
              class="info-item d-flex flex-column justify-content-center align-items-center"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <i class="bi bi-envelope"></i>
              <h3>Email </h3>
              <p>iestpsuiza.edu.pe</p>
            </div>
          </div>
          <!-- End Info Item -->
        </div>
      </div>

      <div class="col-lg-6">
        <form
          action="forms/contact.php"
          method="post"
          class="php-email-form"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <div class="row gy-4">
            <div class="col-md-6">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Your Name"
                required=""
              />
            </div>

            <div class="col-md-6">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Your Email"
                required=""
              />
            </div>

            <div class="col-md-12">
              <input
                type="text"
                class="form-control"
                name="subject"
                placeholder="Subject"
                required=""
              />
            </div>

            <div class="col-md-12">
              <textarea
                class="form-control"
                name="message"
                rows="4"
                placeholder="Message"
                required=""
              ></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>

              <button type="submit">Enviar mensaje</button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Contact Form -->
    </div>
  </div>
</section>
<!-- /Contact Section -->

    {%endblock%}
  
  