{% extends "auth/base_sis.html" %} {% block title %}SIS-NOTAS{% endblock %} {%
block sections %}

<section class="h-100 bg-light">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration m-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                src="/static/img/37.jpg"
                alt="Sample photo"
                class="img-fluid"
                style="
                  border-top-left-radius: 0.25rem;
                  border-bottom-left-radius: 0.25rem;
                "
              />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Registro de Estudiantes</h3>

                <div class="row">
                  <div class="col-md-12 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form3Example1m"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example1m"
                        >Nombre</label
                      >
                    </div>
                  </div>
                </div>

                <div class="row mt-0">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form3Example1m1"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example1m1"
                        >Apellido paterno</label
                      >
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form3Example1m1"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example1m1"
                        >Apellido materno</label
                      >
                    </div>
                  </div>
                </div>
                <div class="row mt-0">
                  <div class="col-md-4 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form3Example1m1"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example1m1"
                        >DNI</label
                      >
                    </div>
                  </div>
                  <div class="col-md-8 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form3Example1m1"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example1m1"
                        >E-mail</label
                      >
                    </div>
                  </div>
                </div>
                
               
                <div class="row">
                  <div class="col-md-4 mb-4">
                    <select data-mdb-select-init>
                      <option value="1">Ciclo Academico</option>
                      <option value="2">I</option>
                      <option value="3">II</option>
                      <option value="4">III</option>
                      <option value="5">IV</option>
                      <option value="6">V</option>
                      <option value="7">VI</option>
                    </select>
                  </div>
                  <div class="col-md-2 mb-4">
                    <select data-mdb-select-init>
                      <option value="1">Seccion</option>
                      <option value="2">A</option>
                      <option value="3">B</option>
                    </select>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form3Example1m1"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example1m1"
                        >DNI</label
                      >
                    </div>
                  </div>
                 
                </div>

                

                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="text"
                    id="form3Example90"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example90">Direccion</label>
                </div>

                
                <div class="d-flex justify-content-end pt-3">
                  <button
                    type="button"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-secondary btn-lg"
                  >
                    Reset all
                  </button>
                  <button
                    type="button"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-Primary btn-lg ms-2"
                  >
                    Submit form
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
